.global {
  display: flex;
  flex-direction: column;
  align-items: center;
}

> p {
  color: #fff;
}

.score {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}

h1 {
  font-family: Fascinate Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  background-image: linear-gradient(180deg, n#fff, #87f1ff);
  background-size: 100%;
  background-clip: text;
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
  --moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
